#container {
  width: 50%;
  margin: auto;
  text-align: center;
   background-color:rgb(174, 171, 167);
}
.row{
    padding:5px;
    align-items: center;
    box-sizing: border-box;

}
.row button{
    background-color:rgb(254, 254, 254);
    cursor:pointer;
    border-radius: 3px;
    font-size: 18px;;
}
